<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

# 학습 목표

- 데이터프레임 특성을 설명할 수 있습니다.
- 데이터와 열 이름 정보를 사용해 데이터프레임을 만들 수 있습니다.
- 파일에서 읽어와 데이터프레임을 만들 수 있습니다.

# 2.데이터프레임 생성

## 2.1. 데이터프레임 이해

- Pandas 사용 목적이 데이터프레임을 사용하기 위한 목적으로 봐도 됩니다.
- 데이터를 처리, 조회, 분석하는 가장 효율적인 방법이 데이터프레임을 사용하는 것입니다.
- 데이터프레임은 시리즈와는 달리 **하나 이상의 열**을 갖는 형태입니다.
- 일반적으로 접하게 되는 **테이블** 형태, **엑셀** 형태로 생각하시면 됩니다.
- 직접 만들 수 있으나 보통은 **csv 파일**, **엑셀 파일** 또는 DB에서 읽어옵니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/dataframe04.png' width=700 align="left"/>

## 2.2. 데이터프레임 직접 만들기

- **pd.DataFrame()** 함수를 사용해 데이터프레임을 만듭니다.
- 데이터프레임을 만들기 위해서는 세 가지가 필요합니다.
    - 데이터
    - 열 이름(column)
    - 인덱스
- **데이터만 있어도** 우선은 데이터프레임을 **만들 수 있습니다.**
- 데이터프레임을 사용하기 위해 **Pandas** 라이브러리를 **pd** 별칭을 주어 불러옵니다.

In [1]:
# 라이브러리 불러오기
import pandas as pd

**1) 데이터만 가지고 만들기**

- 인덱스와 열을 지정하지 않으면 행 번호가 인덱스, 열 번호가 열 이름이 됩니다.

In [2]:
# 데이터
stock = [[94500, 92100, 92200, 92300],
         [96500, 93200, 95900, 94300],
         [93400, 91900, 93400, 92100],
         [94200, 92100, 94100, 92400],
         [94500, 92500, 94300, 92600]]

# 데이터프레임 만들기
df = pd.DataFrame(stock)

# 확인
df.head()

       0      1      2      3
0  94500  92100  92200  92300
1  96500  93200  95900  94300
2  93400  91900  93400  92100
3  94200  92100  94100  92400
4  94500  92500  94300  92600

**2) 열 이름 지정**

- 열 이름이 될 데이터가 있으면 **columns** 옵션에 지정합니다.
- 당연히 열 이름은 열 개수만큼 지정해야 합니다.

In [3]:
# 데이터
stock = [[94500, 92100, 92200, 92300],
         [96500, 93200, 95900, 94300],
         [93400, 91900, 93400, 92100],
         [94200, 92100, 94100, 92400],
         [94500, 92500, 94300, 92600]]

# 열 이름
names = ['High', 'Low', 'Open', 'Close']

# 데이터프레임 만들기
df = pd.DataFrame(stock, columns=names)

# 확인
df.head()

    High    Low   Open  Close
0  94500  92100  92200  92300
1  96500  93200  95900  94300
2  93400  91900  93400  92100
3  94200  92100  94100  92400
4  94500  92500  94300  92600

In [4]:
# 열 이름 변경
df.columns = list('ABCD') # ['A','B','C','D']로 쪼개진다.
df.head()

       A      B      C      D
0  94500  92100  92200  92300
1  96500  93200  95900  94300
2  93400  91900  93400  92100
3  94200  92100  94100  92400
4  94500  92500  94300  92600

**3) 인덱스  지정**

- 인덱스가 될 데이터가 있으면 **index** 옵션에 지정합니다.

In [5]:
# 데이터
stock = [[94500, 92100, 92200, 92300],
         [96500, 93200, 95900, 94300],
         [93400, 91900, 93400, 92100],
         [94200, 92100, 94100, 92400],
         [94500, 92500, 94300, 92600]]

# 열 이름
names = ['High', 'Low', 'Open', 'Close']

# 인덱스
dates = ['2019-02-15', '2019-02-16', '2019-02-17', '2019-02-18', '2019-02-19']

# 데이터프레임 만들기
df = pd.DataFrame(stock, index=dates, columns=names)

# 확인
df.head()

             High    Low   Open  Close
2019-02-15  94500  92100  92200  92300
2019-02-16  96500  93200  95900  94300
2019-02-17  93400  91900  93400  92100
2019-02-18  94200  92100  94100  92400
2019-02-19  94500  92500  94300  92600

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 아래 구문을 실행해 데이터를 불러오세요.

In [6]:
# 모듈 불러오기
from sklearn.datasets import load_iris

# iris 데이터 가져오기
iris = load_iris()

# 확인
iris

{'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': '/usr/local/lib/python3.7/dist-packages/sklearn/datasets/data/iris.csv',
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10')}

[문2] 위 iris의 자료형은 무엇인가요?

In [ ]:
# 답: 딕셔너리

[문3] iris에서 'data'로 조회한 결과를 x 변수로 선언하세요.

In [ ]:
# x 선언
x = iris['data']
x

[문4] iris에서 'feature_names'으로 조회한 결과를 cols 변수로 선언하세요.

In [11]:
# cols 선언
cols = iris['feature_names']
cols

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

[문5] iris에서 'target'로 조회한 y 변수로 선언하세요.

In [12]:
# y 선언
y = iris['target']
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

[문6] x와 cols 변수를 사용해 iris_df 데이터프레임을 선언하고 확인하세요.

- 데이터: x
- 열 이름: cols 
- 참고: sepal: 꽃받침 / petal: 꽃잎

In [13]:
# 데이터프레임 만들기
iris_df = pd.DataFrame(x, columns=cols)

# 확인
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

[문7] y 변수 값을 iris_df 데이터프레임의 species 열로 추가하고 확인하세요.

- 참고: 0: setosa / 1: versicolor / 2: virginica

In [14]:
# species 열 추가
iris_df['species'] = y

# 확인 
iris_df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2        0
1                4.9               3.0  ...               0.2        0
2                4.7               3.2  ...               0.2        0
3                4.6               3.1  ...               0.2        0
4                5.0               3.6  ...               0.2        0

[5 rows x 5 columns]

## 2.3. CSV파일 읽어오기

- 분석용 데이터는 대부분 파일에서 읽어오니 잘 익혀야 할 기능입니다.
- **read_csv()** 함수를 사용해서 CSV 파일에서 데이터를 읽어옵니다.

**[주요옵션]**
- **sep**: 구분자 지정(기본값 = 콤마) 
- header: 헤더가 될 행 번호 지정(기본값 = 0)
- index_col: 인덱스 열 지정(기본값 = False)
- names: 열 이름으로 사용할 문자열 리스트
- skiprows: 처음 몇 줄을 무시할 것인지 지정, 리스트로 지정 가능
- **na_values**: NaN 값으로 간주할 값 
- **nrows**: 읽어올 행 수

In [15]:
# Titanic 데이터 불러오기
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/titanic_train.csv'
titanic = pd.read_csv(path)  

# 상위 10행만 확인
titanic.head(10)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S
7            8         0       3  ...  21.0750   NaN         S
8            9         1       3  ...  11.1333   NaN         S
9           10         1       2  ...  30.0708   NaN         C

[10 rows x 12 columns]

- 특정 값을 NaN 값으로 간주해서 읽어와야 할 경우가 있습니다.

In [ ]:
# Titanic 데이터 불러오기
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/titanic_train(2).csv'
titanic = pd.read_csv(path)  

# 상위 10행만 확인
titanic.head(10)

In [ ]:
# Titanic 데이터 불러오기
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/titanic_train(2).csv'
titanic = pd.read_csv(path, na_values='-', sep=',') # '-'를 NaN으로 변환

# 상위 10행만 확인
titanic.head(10)

- 구분자가 꼭 콤마가 되라는 법은 없습니다.

In [ ]:
# Titanic 데이터 불러오기
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/titanic_train(3).csv'
titanic = pd.read_csv(path, sep='|')  

# 상위 10행만 확인
titanic.head(10)

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 아래 주어진 경로의 파일에서 데이터를 읽어와 graduate 데이터프레임을 만드세요.

- 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/Graduate_apply.csv'

In [21]:
# graduate 데이터 불러오기
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/Graduate_apply.csv'
graduate = pd.read_csv(path)

# 확인
graduate.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

[문2] 아래 주어진 경로의 stock.csv 파일을 읽어와 stock 데이터프레임을 만드세요.

- 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/stock(2).csv'

In [ ]:
# stock 데이터 불러오기
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/stock(2).csv'
stock = pd.read_csv(path)

# 확인
stock.head()

In [24]:
# stock 데이터 불러오기
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/stock(2).csv'
stock = pd.read_csv(path, thousands=',') #읽어올 데이터에 천단위 콤마를 없애준다.

# 확인
stock.head()

         Date      Open      High       Low     Close  Adj Close    Volume
0  2000-01-03  0.936384  1.004464  0.907924  0.999442   0.858137  535796800
1  2000-01-04  0.966518  0.987723  0.903460  0.915179   0.785788  512377600
2  2000-01-05  0.926339  0.987165  0.919643  0.928571   0.797286  778321600
3  2000-01-06  0.947545  0.955357  0.848214  0.848214   0.728291  767972800
4  2000-01-07  0.861607  0.901786  0.852679  0.888393   0.762789  460734400

**[참고] 인덱스 지정해서 읽어오기**

- 데이터를 읽어올 때 인덱스 대상 열이 있으면 지정할 수 있습니다.

In [25]:
# 인덱스 지정해서 데이터 불러오기
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/stock.csv'
stock = pd.read_csv(path, index_col='Date')  

# 확인
stock.head()

                Open      High       Low     Close  Adj Close     Volume
Date
2000-01-03  0.936384  1.004464  0.907924  0.999442   0.858137  535796800
2000-01-04  0.966518  0.987723  0.903460  0.915179   0.785788  512377600
2000-01-05  0.926339  0.987165  0.919643  0.928571   0.797286  778321600
2000-01-06  0.947545  0.955357  0.848214  0.848214   0.728291  767972800
2000-01-07  0.861607  0.901786  0.852679  0.888393   0.762789  460734400

- 인덱스 이름이 불필요하면 제거할 수 있습니다.

In [26]:
# 인덱스 이름 제거
stock.index.name=None

# 확인
stock.head()

                Open      High       Low     Close  Adj Close     Volume
2000-01-03  0.936384  1.004464  0.907924  0.999442   0.858137  535796800
2000-01-04  0.966518  0.987723  0.903460  0.915179   0.785788  512377600
2000-01-05  0.926339  0.987165  0.919643  0.928571   0.797286  778321600
2000-01-06  0.947545  0.955357  0.848214  0.848214   0.728291  767972800
2000-01-07  0.861607  0.901786  0.852679  0.888393   0.762789  460734400

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/end.png' width=300/></center>